body {
    margin: 0;
}

.main-container{
    display:grid;
    height: 100vh;
    grid-template: auto 4fr/ 1fr 4fr;
}

.sidebar{
    grid-row: 1 / span 2;
    background-color: skyblue;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    justify-content: left;
    
}

.header {
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    margin: 10px;
}

.sidebar-title{
    font-size: 30px;
    margin: 10px;
}


.admin > button, .navigation > button {

    font-size: 15px;
    border: transparent;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
    text-align: left;
    margin: 10px;
    
}

.sidebar > * > button:hover {
    background-color: white;
}

.navigation {
    display: grid;
}

.admin {
    display: grid;
    align-content: start;
}



